input[type="range"]::-moz-range-track {
    padding: 0 10px;
    background: repeating-linear-gradient(to right, 
      #ccc, 
      #ccc 10%, 
      #000 10%, 
      #000 11%, 
      #ccc 11%, 
      #ccc 20%);
}

nav > a.is-active {
    font-weight: bold;
}

nav > a.is-active::before {
    content: '[';
}

nav > a.is-active::after {
    content: ']';
}

.hscroll {
    overflow-x: auto; /* Horizontal */
}

.hscroll > table{
    width: 100%;
    white-space: normal;
}

.floating-menu{
  position: fixed;
  right: 0;
  z-index: 2;
  background-color: silver;
  border-radius: 50%;
}