<template data-selector="#side-menu">
    <div class="pure-menu">
        <a class="pure-menu-heading" href="#">Web Site</a>

        <ul class="pure-menu-list">
            <template>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Item</a>
                </li>
            </template>
        </ul>
    </div>
</template>


<script>
    class SideMenu extends Template {
        constructor(doc) {
            super(doc);
        }

        build() {
            let rootNodeContent = this.rootNode.content;
            let pagesInfo = PageManager.getInfo();

            let list = PD.find('.pure-menu-list', rootNodeContent);
            let t_list = PD.find('template', rootNodeContent).content;
            let li = PD.find('.pure-menu-item', t_list).cloneNode(true);

            PD.find('.pure-menu-heading', rootNodeContent).textContent = window.config.website;
            list.innerHTML = '';


            pagesInfo.data.forEach((page, index) => {
                let new_li = li.cloneNode(true);
                let a = PD.find('.pure-menu-link', new_li);

                a.textContent = page.title;
                a.dataset.path = page.path;
                a.dataset.index = index;

                if (pagesInfo.current == index)
                    new_li.className += ' menu-item-divided pure-menu-selected';

                list.appendChild(new_li);
            });

            super.append(rootNodeContent);
        }

        bind() {
            let links = SideMenu.prototype.links = PD.findAll('a.pure-menu-link', this.nodeTarget);
            links.forEach(link => link.addEventListener("click", this.click));
        }

        click(e) {
            e.preventDefault();
            let data = this.dataset;
            let links = SideMenu.prototype.links;

            let pagesInfo = PageManager.getInfo();
            let activeItem = links[pagesInfo.current].parentElement;

            activeItem.classList.remove('menu-item-divided', 'pure-menu-selected');
            this.parentElement.classList.add('menu-item-divided', 'pure-menu-selected');
            PageManager.setCurrentIndex(data.index);
        }
    }
    window.sideMenu = new SideMenu(document);
</script>