<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">NotificationComponent</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <ul>
                <li>Based on the shipped Snackbar component, is a transient popup notifications.</li>
                <li>The method <b>show</b>(<b>text : string</b>) displays a notification</li>
            </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="https://getmdl.io/components/index.html#snackbar-section" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                target="_blank">
                MDL Snackbar
            </a>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Example</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <ul>
                <li>Click on the button</li>
                <li><code>NotificationComponent.show("Hello from the other side");</code></li>
                <li><button class="mdl-button mdl-js-button mdl-button--raised" actionableElement="helloNotification"
                        listen="click:notification">Notify me</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>