<template>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">ModalComponent</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <ul>
                    <li>Is the way of control the application's flow and focus the user's attention on one key element</li>
                    <li>First you <b>setContent(html : string)</b> and then <b>show(canClose : boolean)</b></li>
                </ul>
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Example</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <ul>
                    <li>Lets display a closable text</li>
                    <li><code>ModalComponent.setContent("&lt;p&gt;Show me the Morty!&lt;&sol;p&gt;").show(true);</code></li>
                    <li><button class="mdl-button mdl-js-button mdl-button--raised"
                        actionableElement="modalButton"
                        listen="click:showMorty">Say it</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
</template>