<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Explanation</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <ul>
                <li>Are a set of utilities or communitcation tools required in almost every website</li>
                <li>Loading screens, notifications, dialogs or displaying a modal window...</li>
                <li>Those are pure js that can be invoked by their method <b>show</b> and vanished when no longer
                    needed with <b>close</b></li>
                <li>Some of them are highly customizable and others are "static" for confort</li>
            </ul>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>