<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">LoadingComponent</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <ul>
                <li>Based on the shipped Loading component, indicate loading and progress states.</li>
                <li>The method <b>show()</b> displays a blocking loading element (a modal progress bar)</li>
                <li>The method <b>close()</b> removes it</li>
            </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="https://getmdl.io/components/index.html#snackbar-section" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                target="_blank">
                MDL Snackbar
            </a>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Example</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <ul>
                <li>Click on the button to see a LoadingComponent for 3 seconds</li>
                <li><code>LoadingComponent.show();</code></li>
                <li><button class="mdl-button mdl-js-button mdl-button--raised" actionableElement="helloLoading" listen="click:loading">Loading..</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>