<div class="mdl-grid filter-date-interval">
    <div class="mdl-cell mdl-cell--2-col-phone">
        <div class="material-icons">calendar_today</div>Start
    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <input actionableElement="date_from" listen="change:change" type="date">
    </div>
</div>
<div class="mdl-grid filter-date-interval">
    <div class="mdl-cell mdl-cell--2-col-phone">
        <div class="material-icons">calendar_today</div>End
    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <input actionableElement="date_to" listen="change:change" type="date">
    </div>
</div>