<div class="row notice">
    <div class="section">
        <div class="notice-message">
            <div id="sectionsFilled" class="notice-text"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="section">
        <div class="full-width-forms">

            <div class="col-1-2">
                <label>
                    <input type="text" id="firstName" placeholder="First Name">
                </label>
            </div>
            <div class="col-1-2">
                <label>
                    <input type="text" id="lastName" placeholder="Last Name">
                </label>
            </div>
            <div class="clear"></div>

            <div class="col-2-3">
                <label>
                    <input type="email" id="emailAddress" placeholder="user@domain.com">
                </label>
            </div>
            <div class="col-1-3">
                <label>
                    <input type="text" id="dateOfBirth" placeholder="May 1983">
                </label>
            </div>
            <div class="clear"></div>

            <div class="col-2-3">
                <label>
                    <input type="text" id="headline" placeholder="I am headline">
                </label>
            </div>
            <div class="col-1-3">
                <label>
                    <input type="text" id="industry" placeholder="Industry">
                </label>
            </div>
            <div class="clear"></div>

            <div class="col-1-3">
                <label>
                    <input type="text" id="location" placeholder="Malaga, Spain">
                </label>
            </div>
            <div class="col-2-3">
                <label>
                    <textarea id="summary" placeholder="Write here your summary" rows="4"></textarea>
                </label>
            </div>
            <div class="clear"></div>

            <div class="col-1-3 space"></div>
            <div class="col-1-3">
                <label>
                    <button class="btn solid orange" disabled>Up to date</button>
                </label>
            </div>
            <div class="col-1-3 space"></div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>
    const PD = app.PD;
    const PageHelper = app.PageHelper;
    const fields = PD('.full-width-forms input,textarea');

    function sectionsFilledWarning(data) {
        const filledSections = Object.keys(data).length;
        const totalSections = Object.keys(PageHelper.prototype.structure).length;

        PD("#sectionsFilled")
            .setContent(`Hello <b>${data.personalData.firstName}</b>, ${filledSections} of ${totalSections} sections filled`);
    }

    if (typeof PageHelper.prototype.structure == 'undefined') {
        PageHelper.buildMenu()
            .then(() => {
                Request.json('curriculum/get', {}, Request.handleError, { AUTH: PageHelper.prototype.token})
                    .then((data) => {
                        PageHelper.prototype.data = data;

                        sectionsFilledWarning(data);

                        Importer.importModule('/templates/pages/PersonalData.js')
                            .then((PersonalData) => {
                                window.PersonalData = PersonalData;
                                PersonalData.init(fields, PD('button'))
                            });
                    })
            });
    } else {
        sectionsFilledWarning(PageHelper.prototype.data);

        Importer.importModule('/templates/pages/PersonalData.js')
            .then((PersonalData) => {
                window.PersonalData = PersonalData;
                PersonalData.init(fields, PD('button'))
            });
    }
</script>