<div class="row notice">
    <div class="section">
        <div class="notice-message">
            <div id="items" class="notice-text"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Icon</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button id="add_new" class="btn small round green">
                            + Add New</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row">
    <div class="section">
        <div class="full-width-forms hide">

            <div class="col-1-3">
                <label>
                    <input type="text" id="name" placeholder="Skill">
                </label>
            </div>
            <div class="col-1-3">
                <label>
                    <input type="number" id="level" placeholder="5">
                </label>
            </div>
            <div class="col-1-3">
                <label>
                    <textarea id="icon" placeholder="Paste the icon base64 code" rows="4"></textarea>
                </label>
            </div>
            <div class="clear"></div>

            <div class="col-1-3 space"></div>
            <div class="col-1-3">
                <label>
                    <button id="save" class="btn solid green" disabled>save</button>
                </label>
            </div>
            <div class="col-1-3 space"></div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>
    const star = 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgNi43NmwxLjM3OSA0LjI0Nmg0LjQ2NWwtMy42MTIgMi42MjUgMS4zNzkgNC4yNDYtMy42MTEtMi42MjUtMy42MTIgMi42MjUgMS4zNzktNC4yNDYtMy42MTItMi42MjVoNC40NjVsMS4zOC00LjI0NnptMC02LjQ3MmwtMi44MzMgOC43MThoLTkuMTY3bDcuNDE2IDUuMzg5LTIuODMzIDguNzE4IDcuNDE3LTUuMzg4IDcuNDE2IDUuMzg4LTIuODMzLTguNzE4IDcuNDE3LTUuMzg5aC05LjE2N2wtMi44MzMtOC43MTh6Ii8+PC9zdmc+';

    function setTable() {
        const index = PageHelper.prototype.index;
        const tbody = PD('table > tbody');
        const el = tbody.getElements();
        let html = '';

        if(typeof PageHelper.prototype.data[index] == 'undefined')
                return;

        PageHelper.prototype.data[index].forEach((data, i) => {
            let stars = '';

            for(let i = 0; i < data.level; ++i)
                stars += `<img src="${star}">`;

            html += `<tr><td>${data.name}</td><td>${stars}</td>` + // this kind of string
                `<td><img src="${data.icon}"></td>` +// supports multiline
                `<td><button class="btn tiny orange round" data-index="${i}">edit</button>` + // but means add extra text nodes
                `<button class="btn tiny red round" data-index="${i}">delete</button><td></tr>` 
        });

        tbody.setContent(html);

        PD('button.orange', el).listen('click', PageHelper.showForm);
        PD('button.red', el).listen('click', PageHelper.showAlert);
    }

    PageHelper.sectionItemWarning();

    setTable();

    PageHelper.setAddNew();
    PageHelper.setFormEvents();
</script>