<div class="row">
    <div class="section">
        <div class="autogrid tabs-block">
            <div class="col here"><a href="#color" data-id="color">Colors</a></div>
            <div class="col"><a href="#image" data-id="image">Images</a></div>
        </div>
    </div>
</div>

<div class="row" id="color">
    <div class="section">
        <div class="autogrid">
            <div class="col">
                <label>
                    <input type="color" id="base-color">
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="color" id="base-color-hover">
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="color" id="background">
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="color" id="background-alt">
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="color" id="border">
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="color" id="heading">
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="color" id="text">
                </label>
            </div>
            <div class="col">
                <label>
                    <button class="btn solid green">Update</button>
                </label>
            </div>
        </div>
    </div>
    <script>
        const web = PageHelper.prototype.data.web;
        const tabs = PD('.tabs-block div');
        const colorInputs = PD('#color input');
        const save = () => {
            return Request.json('curriculum/set', PageHelper.prototype.data,
                Request.handleError, { AUTH: PageHelper.prototype.token })
                .then(UIHelpers.Loading.close);
        }
        const colorBtn = PD('#color button').listen('click', () => {
            const colors = {};

            UIHelpers.Loading.show();

            colorInputs.getElements().forEach(input => colors[input.id] = input.value);

            PageHelper.prototype.data.web.color = colors;

            save().then(() => UIHelpers.Notification.show('Colors updated, check your site, fist time will be slower'));
        });

        if (typeof web.image == 'undefined')
            web.image = {};

        PD('.tabs-block a').listen('click', (e) => {
            const a = e.target;
            let showEl = '#image', hideEl = '#color';

            e.preventDefault();

            tabs.removeClass('here');
            a.parentNode.classList.add('here');

            if (a.dataset.id == 'color') {
                showEl = '#color';
                hideEl = '#image';
            }

            PD(hideEl).addClass('hide');
            PD(showEl).removeClass('hide');
        });

        colorInputs.getElements().forEach(el => el.value = web.color[el.id]);
    </script>
</div>
<div class="row hide" id="image">
    <div class="section">
        <div class="full-width-forms">

            <div class="col-1-3">
                Select an jpg image
            </div>
            <div class="col-1-3">
                Upload it, visit your site
            </div>
            <div class="col-1-3">
                Click to consolidate
            </div>
            <div class="clear"></div>

            <div class="col-1-3">
                <label>
                    <input type="file" id="lead-bg" accept=".jpg">
                </label>
            </div>
            <div class="col-1-3">
                <label>
                    <button class="btn orange" id="lead-bg-upload" disabled>Upload</button>
                </label>
            </div>
            <div class="col-1-3">
                <label>
                    <button class="btn solid green" id="lead-bg-consolidate" disabled>Consolidate</button>
                </label>
            </div>
            <div class="clear"></div>

            <div class="col-1-3">
                Select an favicon.ico
            </div>
            <div class="col-1-3">
                Upload it, visit your site
            </div>
            <div class="col-1-3">
                Click to consolidate
            </div>
            <div class="clear"></div>

            <div class="col-1-3">
                <label>
                    <input type="file" id="favicon" accept=".ico">
                </label>
            </div>
            <div class="col-1-3">
                <label>
                    <button class="btn orange" id="favicon-upload" disabled>Upload</button>
                </label>
            </div>
            <div class="col-1-3">
                <label>
                    <button class="btn solid green" id="favicon-consolidate" disabled>Consolidate</button>
                </label>
            </div>
            <div class="clear"></div>

            <div class="col-1-2">
                Resume
            </div>
            <div class="col-1-2">
                Upload it
            </div>
            <div class="col-1-2">
                <label>
                    <textarea id="resume" placeholder="Paste your resume's url" rows="4"></textarea>
                </label>
            </div>
            <div class="col-1-2">
                <label>
                    <button class="btn green" id="resume-upload" disabled>Upload</button>
                </label>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <script>
        const uploadBtn = PD('#image button.orange');
        const consolidateBtn = PD('#image button.solid.green');
        const resume = PD('#image textarea#resume');
        const resumeUpload = PD('#image button#resume-upload');
        const getBase64 = (file) => {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = () => resolve(reader.result);
                reader.onerror = error => reject(error);
            });
        }
        const consolidate = (e) => {
            const btn = e.target;
            const index = btn.id.replace('-consolidate', '');

            UIHelpers.Loading.show();

            btn.disabled = 'disabled';

            delete web.image[index];

            save().then(() => UIHelpers.Notification.show('Image consolidated'));
        };

        PD('input[type="file"]').listen('change', (e) => PD(`button#${e.target.id}-upload`).removeAttribute('disabled'));

        uploadBtn.listen('click', (e) => {
            const btn = e.target;
            const id = btn.id.replace('-upload', '');
            const input = select(`#${id}`);
            const file = input.files[0];

            UIHelpers.Loading.show();

            getBase64(file).then((data) => {
                if( (typeof web.image == 'undefined') || (Array.isArray(web.image)))
                    web.image = {};

                web.image[id] = data;

                save().then(() => {
                    btn.setAttribute('disabled', 'disabled');
                    input.value = '';
                    PD(`#${id}-consolidate`).removeAttribute('disabled');

                    UIHelpers.Notification.show('Check your site, and do not forget consolidate it');
                });
            });
        });

        consolidateBtn.listen('click', consolidate);

        resume.listen('change', () => resumeUpload.removeAttribute('disabled'));

        resumeUpload.listen('click', () => {
            UIHelpers.Loading.show();
            web.image.resume = resume.getValue();

            save().then(() => UIHelpers.Notification.show('Check your site a new button should be there'));
        });
    </script>
</div>