<div class="mdl-grid filter-date-interval">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet">
        <component source="/components/template/datepicker/" className="DatePickerComponent" loaded="dtFromLoaded"
            changed="dtFromChanged">
        </component>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet">
        <component source="/components/template/datepicker/" className="DatePickerComponent" loaded="dtToLoaded"
            changed="dtToChanged">
        </component>
    </div>
</div>