<div class="row bg-red light-text">
    <div class="section center">
        <h1>Welcome</h1>
    </div>
</div>
<div class="row">
    <div class="section">
        <h1>Getting started</h1>
        <h2>Index / Layout</h2>
        <p> 
            All commences in <b>index.html</b>, as you can see is prety empty, but that's ok
            because this allow you to define the layout with no restriction. In this case
            <b>/templates/layout/layout.html</b> contains the menu and the div element where
            all the pages are going to be included, because the Menu's content still has to be
            rendered the <b>Layout</b> javascript module has to be loaded and after that
            <b>Layout.init()</b> called, check <b>/templates/layout/Layout.js</b>.
        </p>
        <h2>PD</h2>
        <p>
            Is a global object that holds static references to all the the toolset, it saves
            you the trouble of Dom handling, file importing, configuration, pages managing,
            templating and some UI Helpers 
        </p>
        <h2>Config</h2>
        <p>
            There is nothing written on stone, almost everything can be changed check
            <b>/js/demo.init.js</b> to have a quick idea about the definition
        </p>
        <h2>Templates</h2>
        <p>
            <b>tpl</b> elements that will import , process and render in that spot, HTML
            code provided by the attributes: src, module, and fire. Also some extra or
            particular behaviour can adde by overriden in the <b>process</b> method, and
            the most interesting feature, automated link between any html element of that
            template and its instance only by using <b>_</b> or <b>_listen</b>
        </p>
        <h2>Next</h2>
        <p>
            Click on <button class="no-outline blue" _listen="click:navigate" data-index="layout">Layout</button>
        </p>
    </div>
</div>