<div class="row header">
    <div class="section">
        <nav>
            <a href="/" class="logo"><img src="img/PD.svg" alt="Logo"></a>
            <label for="menu-toggle" id="menu-toggle-label"></label>
            <input id="menu-toggle" type="checkbox">
            <div class="icon-menu"></div>
            <ul class="menu">

            </ul>
        </nav>
    </div>
</div>
<div class="contents page-content">

</div>

<script>
    Importer.importModule('/templates/Layout.js').then(Layout => Layout.init());
</script>