<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Config file</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <ul>
                <li>/js/config.js</li>
                <li>Contains all the required info about the site, title, pages, selector to be used to place the
                    pages html and the rest server url</li>
                <li>Pages is an array of objects, each one contains the info required to instanciate the class
                    associated to the html file</li>
            </ul>
        </div>
        <div actionableElement="example" class="mdl-card__supporting-text">

        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>